
body{background-color: #171717;}

.logo-navbar{width: 30px;
            fill: white;}

.navbar{background-color: #171717;}

.nav-link{color: white;
        
    --bs-nav-link-hover-color: #73E825 ;


}

.nav-item{color: white;}

.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
    color: #198754;

}

.btn{border: var(--bs-btn-border-width) solid color(#AEF280)}

.card-text{text-align: center;
        opacity: 60%;
        padding-bottom: 5%;
            }

.text-perfil{text-align: center;
            padding-top: 7%;
            color: whitesmoke;}

.img-perfil{padding: 2%;
            text-align: center;
        }
 .navbar-toggler-icon {
            display: inline-block;
            width: 1.5em;
            height: 1.5em;
            vertical-align: middle;
            background-image: url(/img/menu-icon.png);
            background-repeat: no-repeat;
            background-position: center;
            background-size: 100%;
        }
.img-fluid{width: 25%;}


.text-div{padding: 0%;
            color: whitesmoke;}

.card-perfil{background-color: #198754;
            position: relative;}

.btn-new{border-color: #198754;
    border-style: solid;
    border-radius: 10px;
    background-color: #171717;

    }
.btn-primary{
    --bs-btn-hover-bg:#198754; 
    --bs-btn-hover-color: whitesmoke;
    border-color: #198754;
    border-style: solid;
    --bs-btn-hover-border-color:#198754;
    --bs-btn-color: #fff;
    --bs-btn-bg: ;
    --bs-btn-active-bg: ;
    --bs-btn-active-border-color: #198754;
    } 

.btn-outline-secondary {
        --bs-btn-color: white;
        background-color: #0be89bad;}


.accordion-flush > .accordion-item > .accordion-header .accordion-button, .accordion-flush > .accordion-item > .accordion-header .accordion-button.collapsed {
        border-radius: 10px;
        
    }

.accordion{--bs-accordion-border-color:background-color: #171717; ;}

.btn-outline-secondary {
    
    --bs-btn-border-color:#198754 ;
    --bs-btn-hover-color: ;
    --bs-btn-hover-bg:#198754 ;
    --bs-btn-hover-border-color: ;
    --bs-btn-focus-shadow-rgb: 108, 117, 125;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg:#198754 ;
    --bs-btn-active-border-color: #198754;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: ;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color:#198754 ;
    --bs-gradient: none;
}



.accordion{margin-top: 20px;
        padding-top: 2%;
        background-color: #171717;
        border-color: #198754;
        border-style: solid;
        --bs-btn-hover-border-color:#198754;
        border-radius: 15px;
    }

.accordion-button{background-color: #171717;
        border-color: #198754;
        border-style: solid;
        --bs-btn-hover-border-color:#198754 ;
        color: whitesmoke;
        --bs-accordion-active-color: whitesmoke;}

.accordion-button:not(.collapsed) {
    color: var(--bs-accordion-active-color);
    background-color:  #171717; 
    box-shadow: inset 0 calc(-1* var(--bs-accordion-border-width)) 0 var(--bs-accordion-border-color);
}

.accordion-header{background-color:  #171717;}

.list-group-item{background-color:  #171717;
    border-color: #198754;
    border-style: solid;
    color: whitesmoke;}

.list-group{background-color: #171717;
            text-align: left;}

.intern-chat.img-fluid{width:60px ;
                        }        

.nombre-chat-interno{font-size: medium;
                    padding-top: 5%;}

.rounded-circle{width:50px;
     height:50px;}

.chat-background{
    border-color: #198754;
    border-style: solid;
    border-radius: 10px;
    margin: 1rem; 
    max-width: 345px;
}

.accordion-button::after {
    flex-shrink: 0;
    width: var(--bs-accordion-btn-icon-width);
    height: var(--bs-accordion-btn-icon-width);
    margin-left: auto;
    background-image: url(/img/down.png);
    background-repeat: no-repeat;
    background-size: var(--bs-accordion-btn-icon-width);
    transition: var(--bs-accordion-btn-icon-transition);
}

.accordion-button:not(.collapsed)::after {
    background-image: url(/img/up.png);
    transform: var(--bs-accordion-btn-icon-transform);
}

.list-group-item.active {
    z-index: 2;
    color: var(--bs-list-group-active-color);
    background-color: #198754;
    border-color: #198754;
}

.list-text-white{color: whitesmoke;}

.list-group{background-color: #171717;}

.chat-open{
    padding: 1rem;
    text-align: left;}

.color-open{color: whitesmoke;}

.badge{background-color: #E4E650;
    color: #171717;
}

.popup-chat{display:flex;
            justify-content:space-around;}

.card-other{max-width: 18rem;
            padding: 0%;}

.card-i{max-width: 18rem;
        margin-top:10px}

.text-hour{opacity: 50%;}

.casilla {
    text-align: left;
    background-color:#198754;
}

.casilla2{  background-color: #171717;  
            border-color: #198754;
            border-style: solid;
}

.btn {
    border-color: #198754;
                border-style: solid;
                border-radius: 10px
}

.input-group{padding-top: 2%;
            padding-bottom: 2%;}

.dropdown-toggle{border-radius: 0%;}

@media (min-width: 576px) {

    .img-fluid{width: 120%; }
    .text-perfil{text-align: left;
        padding-top: 4%;
        color: whitesmoke;}
    .card-text{text-align: left ;
            opacity: 60%;
            padding-bottom: 5%;
                }
    
     .chat-background{
        border-color: #198754;
        border-style: solid;
        border-radius: 10px;
        margin:0; 
        max-width:100%;
                }
    
}

@media (min-width: 768px) {

   
                }
    
    


@media (min-width: 992px) {}

@media (min-width: 1200px) {}



/*
body{background-color: #fff}

.bg-body-tertiary{background-color: #0A0B0A;}

header{background-color: #F2E530;
        }
.pizzaprincipal {width: 70%;}

.header-foto{width: 300px;}
h3{color: #fff;}

.nav-link{color: #fff;}
h1{font-weight:bolder;
    padding: 10px;}

.navbar{justify-content: center;}

.projects{background-color: #0A0B0A;}

.card{align-items: center;}

.recetas-titulo{text-align: center;}

.container{padding-bottom: 5%;}

.btn-card{background-color:  #093d77;
            border-color: none;
            border-style: none;}

            
.btn-primary{border-color: none;
    background-color:  #093d77;
    border-style: none;}

.btn{border-color: none;}

.card-img-top{width: 200px;
            padding-top: 20px;}

.projects{
        padding-top: 50px;
        padding-bottom: 50px;
        padding-left: 30px;}

.titulo-misproyectos{color: white;
                    padding-bottom: 30px;
                    }

.titulo-habilidades{padding-left: 20px;
                    padding-right: 20px;
                    }

.mis-habilidades{ background-color: #F2E530;
                padding-top: 10%;
                padding-bottom: 10%;}

.accordion-item{background-color: #F2E530;
                border-color: #612273;}

.accordion-button{background-color: #F2E530;
    border-color: #612273;}

.container-contacto{background-color: #0A0B0A;
                    padding: 5%;}

.titulo-contacto{color: white;}

.col-form-label{color: white;}

.form-check-label{color: white;}



@media (min-width: 576px) {
    .header-foto{width: 500px;}
    
}

@media (min-width: 768px) {

    .titulo {padding-top: 200px;}

    .projects{
            padding-left: 100px;}
                }
    
    


@media (min-width: 992px) {}

@media (min-width: 1200px) {}
*/